:root{
    --primary-color: #ee4d2d;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color: #dbdbdb;
    --star-gold-color:#FFCe3e;

    --header-height:130px;
    --navbar-height:34px;

    --header-with-search-height: calc(var(--header-height)var(--navbar-height))
}

*{
    box-sizing: inherit;
}

html{
    /* font-size=100% ~~ 16px 62,5% ~~ 1rem */
    font-size:62.5%; 
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

.grid__full-width{
    width: 100%;

}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    
}

/* Test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;

}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

@keyframes growth {
    from{
        transform: scale(var(--growth-from));
        
    }
    to{
        transform: scale(var(--growth-to));

    }
}



@keyframes fadeIn{
    from{
        opacity: 0;
        
    }
    to{
        opacity:1;
    }
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.3s;
}

.modal__overlay{
    position:  absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.modal__body{
    /* width: 300px;
    height: 300px; */
   --growth-from:0.7;
   --growth-to: 1;
    margin: auto;
    z-index: 1;
    position: relative;
    animation: growth linear 0.3s; 
}



.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0;
    font-weight: 200;
    cursor: pointer;
    color: var(--text-color);
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.06);
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    
}
.select-input{
    min-width: 200px;
    padding: 0 12px;
    height: 34px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.select-input__label{
    font-size: 1.4rem;
    font-weight: 400;
}

.select-input__icon{
    font-size: 1.4rem;
    color: #a7a7a7;
    top: 1px;
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 85%;
    background-color: var(--white-color);
    padding: 8px 10px;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input__list::after{
    content: "";
    background-color: transparent;
    position: absolute;
    top: -15%;
    min-width: 200px;
    height: 10px;
    left: 0;
}

.select-input__link{
    font-size: 1.3rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover{
    color: var(--primary-color);
    font-weight: 500;
}

/* .select-input__item:first-child{
    border-bottom: 1px solid #eee;
} */
.select-input:hover .select-input__list{
    display: block;
}

/* Pagination */

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item{
    list-style: none;
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 3px;
}

.pagination-item--active .pagination-item__link:hover{
    cursor: pointer;
    background-color: var(--primary-color);

}

.pagination-item__link{
    --height:30px;
    text-decoration: none;
    font-size: 1.8rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height:  var(--height);
    display: block;
    text-align: center;
    

}


.pagination-item__icon{
    font-size: 2.2rem;
    border: 2px solid #eeeeee;
    padding: 4px 8px;
    border-radius: 3px;
}


